* {
    font-family: 'Raleway';
}

body {
    margin: 0;
    background-color: whitesmoke;
}

main {
    background-color: hsl(210, 36%, 96%);
    color: #102A42;

    display: grid;
    place-items: center;

    height: calc(100vh - 44px); /* First time using the calc function*/
    min-width: 100vw;

    text-transform: capitalize;
}

.container {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-weight: bold;
}

button {
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border-width: 1px;
}

h1 {
    font-size: 64px;
    margin: 0 0 12px 0;
}

span {
    font-size: 96px;
}

/* Nav bar formatting | Stolen from style.css */

nav {
    position: sticky;
    top: 0; /* Necessary for sticky position to work */
}

nav a {
    color: black;
    text-decoration: none; /* Gets rid of default underline */

    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px;
}

nav a:hover {
    background-color: lightgrey;
}