* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0px;
}

.home {
    width: 100vw;
    height: 100vh;

    background-color: whitesmoke;
    position: relative;
}

.home a {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px;
}

.home a:hover {
    background-color: lightgrey;
}

.name {
    margin: 25vh auto 0;
    width: fit-content;
    padding: 25px 55px;
    border: solid;
    /* margin-top: 20%;*/
}

.name h3, .name p {
    display: block;
    width: fit-content;
    margin: 20px auto;
}

.name h3 {
    font-size: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(1, 75, 124);

    /* Footer is 20% of total page height */
    height: 15vh;
    width: 90vw;
    padding: 5vh 5vw;
    z-index: 2;

    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);

    color: white;
}

.footer h4, .footer p {
    width: fit-content;
    margin: auto;
    font-size: 20px;
}

.footer h4 {
    margin-top: 10px;
}

.footer img {
    background-color: white;
    display: inline-block;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 50%;
    
    width: 25px;
    height: 25px;
}

#instagram {
    width: 20px;
    height: 20px;
    padding: 15px
}

.footer div {
    padding: auto;
    width: fit-content;
    margin: 15px auto;
}