/* ---------------
   Variable Declaration
   --------------- */
:root {
  /* Colors */
  --blue: #4e6edd;
  --yellow: #ecd822;
  --gray: #e4e9ec;
  --brown: #a17f4a;
  --light-brown: #dda44e;

  --green: #51af3a;

  --dark: #22252b;
  --dark-midtone: #42454b;
  /* Light Mode */
  --bg-color: white;
  --text-color: black;
  --midtone: var(--gray);
  /* Dark Mode */
  /*
  --bg-color: var(--dark);
  --text-color: white;
  --midtone: var(--dark-midtone);
  */

  /* Fonts */
  --ff-primary: "Open Sans", sans-serif;

  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

/* --------------------------------------------------
   General Styling
   -------------------------------------------------- */
body {
  font-family: var(--ff-primary);
  margin: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  color: var(--text-color);
}

nav {
  position: absolute;
  z-index: 2;
  top: 3.125rem;
  padding-inline: 3.125rem;
  display: flex;
  align-items: center;
}

nav a {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  min-width: 6.25rem;
  text-align: center;
  padding: 0.5rem;
}

nav a:hover {
  background-color: var(--midtone);
}

nav button {
  border: none;
  background: none;
  padding: 0;
  width: 2rem;
  height: 2rem;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

button {
  padding: 1rem;
  background: white;
}

form {
  padding: 2rem;
  margin: 0 2rem;
  display: grid;
}

textarea {
  font-family: var(--ff-primary);
}
/* Implemented for resume page */
li:not(:last-child) {
  margin-bottom: 1rem;
}

/* --------------------------------------------------
   All Pages
   -------------------------------------------------- */
#menu {
  display: none;
  width: 2rem;
  aspect-ratio: 1;
  /* display: flex; */
  flex-direction: column;
  gap: 0.25rem;
}

#menu span {
  width: 100%;
  height: 0.5rem;
  background: var(--text-color);
  min-height: 0.5rem;
  background: var(--text-color);
  border-radius: 0.25rem;
}

#close-menu {
  position: fixed;
  width: 2rem;
  top: 3.125rem;
  right: 3.125rem;
  display: none;
  flex-grow: 0;
}

#close-menu > div {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
}

#close-menu > div:nth-child(1) {
  background: black;
  transform: translateY(-0.25rem) rotate(-45deg);
}

#close-menu > div:nth-child(2) {
  background: black;
  transform: translateY(-0.25rem) rotate(45deg);
}

/* --------------------------------------------------
   Home Page
   -------------------------------------------------- */

#index-content > div {
  position: relative;
  width: 60%;
  flex-shrink: 6;
}

#index-pic {
  object-fit: cover;
  /* object-position: center; */
  width: 40%;
  max-height: 100vh;
  flex-shrink: 4;
}

#index-top-shape,
#index-bottom-shape {
  width: fit-content;
  position: absolute;
  right: 0px;
  transform: translateX(50%);
  height: 40%;
}

#index-top-shape {
  align-items: start;
  top: 0px;
}

#index-bottom-shape {
  align-items: end;
  bottom: 0px;
}

#index-top-shape *,
#index-bottom-shape * {
  width: min(1.875rem, 5vw);
  display: inline-block;
}

#index-name-box {
  width: 60ch;
  padding: 50px;
  margin-inline: 3.125rem;
  margin-block: auto;
  border-radius: 130px;
  border: solid 2px;
}

/* --------------------------------------------------
   Resume Page
   -------------------------------------------------- */
#resume-content {
  box-sizing: border-box;
  grid-template-columns: 3fr 7fr;
  padding-inline: 3.125rem;
  margin-inline: auto;
  column-gap: 2.5rem;
  justify-content: center;
  max-width: 150ch;
}

#resume-content > * {
  background: var(--midtone);
  padding: 1.25rem;
}

#resume-content > div:nth-child(odd) {
  /* Applying text-subtitle to left column */
  font-size: 20px;
  font-weight: 700;
}

#resume-content > div:nth-child(even) {
  /* Applying text-subtitle to right column */
  font-size: 16px;
  font-weight: 500;
}

#resume-shape {
  height: min(40vh, 40vw);
  position: fixed;
  top: 0px;
  right: 0px;
  /* transform: translate(28.7%, -8.8%); */
  z-index: -1;
}

#resume-shape * {
  position: absolute;
}

#resume-shape img {
  width: 34.9%;
  object-fit: cover;
  border-radius: 28.8%;
  top: 25.9%;
  left: 19.7%;
}

.resume-entries {
  display: grid;
  gap: 2rem;
}

.card {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.card > * {
  text-align: center;
  flex-grow: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.empty-card {
  border: 4px dashed var(--midtone);
}

.empty-card > * {
  display: none;
}
/* --------------------------------------------------
   Projects Page
   -------------------------------------------------- */
#projects-content {
  display: grid;
  margin-inline: auto;
  gap: 1.5rem;
  max-width: min(150ch, 100% - 6.25rem);
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(20ch, max-content);
}

#projects-content a div {
  height: 100%;
}

/* --------------------------------------------------
   Animation Page
   -------------------------------------------------- */
#animation-content > div {
  box-sizing: border-box;
  width: 100% - 2rem;
  padding-block: 1rem;
  margin: 1rem;
  border: black 0.125rem solid;
}

/* --------------------------------------------------
   Perfect Pitch Page
   -------------------------------------------------- */
#game-buttons {
  margin-bottom: 2rem;
}

.game-ctrl {
  padding: 0.4rem;
}

/* --------------------------------------------------
   404 Page
   -------------------------------------------------- */
#_404-shape div {
  position: relative;
}

#_404-shape > div {
  width: min(50vw, 70vh);
}

#_404-shape div div {
  position: absolute;
}

#_404-error-box {
  position: relative;
  aspect-ratio: unset;
  height: fit-content;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

#_404-error-box * {
  padding: 0px 20px;
}
/* --------------------------------------------------
   Global Styles
   -------------------------------------------------- */
.flex-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.flex-vert {
  flex-direction: column;
  /* align-items: center; */
}

.align-center {
  align-items: center;
}

.space-even {
  width: 100%;
  justify-content: space-evenly;
}

.grid-container {
  display: grid;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
}

.page-start {
  margin-top: 6.25rem;
}

.page-end {
  margin-bottom: 6.25rem;
}

.text-heading,
h1 {
  font-size: 36px;
  font-weight: 800;
}

.text-subtitle,
h2 {
  font-size: 20px;
  font-weight: 700;
}

.text-body {
  font-size: 16px;
  font-weight: 500;
}

.text-fine {
  font-size: 8px;
  font-style: italic;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.div-center {
  width: fit-content;
  margin-inline: auto;
}

.circle {
  aspect-ratio: 1;
  border-radius: 50%;
}

.round {
  border-radius: 1rem;
}

/*Colors*/
.blue {
  background-color: var(--blue);
}
.yellow {
  background-color: var(--yellow);
}
.brown {
  background-color: var(--brown);
}
.light-brown {
  background-color: var(--light-brown);
}
.gray {
  background-color: var(--gray);
}
.green {
  background-color: var(--green);
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}

.dark-mode {
  --bg-color: var(--dark);
  --text-color: white;
  --midtone: var(--dark-midtone);
}

.full-nav-screen {
  padding: 0;
  width: 100vw;
  height: 100vh;
  top: 0px;
  position: absolute;
  left: 0px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
}

.full-nav-screen > a {
  padding: 3.125rem;
}

.full-nav-screen > a:first-of-type {
  margin-top: 3.125rem;
}

.hide {
  display: none !important;
}

.show-block {
  display: block !important;
}

.show-inline-block {
  display: inline-block !important;
}

#dark-mode-toggle {
  z-index: 2;
  box-sizing: content-box;
  width: 2rem;
  height: 2rem;
  padding: 0px;
  position: absolute;
  border: none;
  background: var(--bg-color);
  border-radius: 50%;
  top: 3.125rem;
  right: 3.125rem;
  padding: 0.5rem;
}

#dark-mode-toggle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* --------------------------------------------------
   Media Queries
   -------------------------------------------------- */
@media (max-width: 700px), (max-height: 550px) {
  #index-content {
    flex-direction: column;
  }

  #index-content > div {
    width: 100%;
  }

  #index-name-box {
    margin-block: 6.25rem;
  }

  #index-pic {
    width: 100%;
  }

  #index-top-shape,
  #index-bottom-shape {
    display: none;
  }

  #resume-content {
    grid-template-columns: 1fr;
    width: 100%;
  }

  nav a {
    display: none;
  }

  #menu {
    display: flex;
  }

  #projects-content {
    grid-template-columns: 1fr;
  }
}
