/* -----Variable Declaration----- */
:root {
  /* Colors */
  --blue: #4e6edd;
  --yellow: #ffe607;
  --gray: #e4e9ec;
  --brown: #a17f4a;
  --light-brown: #dda44e;

  /* Fonts */
  --ff-primary: "Open Sans", sans-serif;

  /*font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;*/
}

body {
  font-family: var(--ff-primary);
  margin: 0;
  box-sizing: border-box;
}

nav {
  position: absolute;
  z-index: 2;
  top: 3.125rem;
  left: 3.125rem;
}

nav a {
  box-sizing: border-box;
  display: inline-block;
  color: black;
  text-decoration: none;
  min-width: 6.25rem;
  text-align: center;
  padding: 0.5rem;
}

nav a:hover {
  background-color: var(--gray);
}

#index-pic {
  object-fit: cover;
  /* object-position: center; */
  width: 40%;
  height: 100%;
  flex-shrink: 4;
}

#index-top-shape,
#index-bottom-shape {
  width: fit-content;
  position: absolute;
  right: 0px;
  transform: translateX(50%);
  height: 40%;
}

#index-top-shape {
  align-items: start;
  top: 0px;
}

#index-bottom-shape {
  align-items: end;
  bottom: 0px;
}

#index-top-shape *,
#index-bottom-shape * {
  width: min(1.875rem, 5vw);
  display: inline-block;
}

#index-name-box {
  width: 60ch;
  padding: 50px;
  margin-inline: 3.125rem;
  border-radius: 130px;
  border: solid 2px;
}

#resume-content {
  /* Was here for when this was a flexbox
  align-items: start; */
  grid-template-columns: 3fr 7fr;
  margin-inline: 3.125rem;
  column-gap: 2.5rem;
  justify-content: center;
  max-width: 100ch;
}

#resume-content > * {
  background: var(--gray);
  padding: 1.25rem;
}

#resume-content > div:nth-child(odd) {
  /* Applying text-subtitle to left column */
  font-size: 20px;
  font-weight: 700;
}

#resume-content > div:nth-child(even) {
  /* Applying text-subtitle to right column */
  font-size: 16px;
  font-weight: 500;
}

#resume-shape {
  height: 40%;
  position: fixed;
  top: 0px;
  right: 0px;
  transform: translate(28.7%, -8.8%);
  z-index: -1;
}

#resume-shape * {
  position: absolute;
}

#resume-shape img {
  width: 34.9%;
  aspect-ratio: 5/9;
  object-fit: cover;
  border-radius: 28.8%;
  top: 25.9%;
  left: 19.7%;
}

#_404-shape {
  position: absolute;
}

#_404-shape div,
#_404-shape div div {
  position: relative;
}

#_404-shape div {
  width: min(50vw, 70vh);
}

#_404-shape div div {
  position: absolute;
}

#_404-error-box {
  position: relative;
  aspect-ratio: unset;
  height: fit-content;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

#_404-error-box * {
  padding: 0px 20px;
}

/* -----Global Styles----- */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.page-start {
  margin-top: 6.25rem;
}

.page-end {
  margin-bottom: 6.25rem;
}

.text-heading,
h1 {
  font-size: 36px;
  font-weight: 800;
}

.text-subtitle,
h2 {
  font-size: 20px;
  font-weight: 700;
}

.text-body {
  font-size: 16px;
  font-weight: 500;
}

.text-fine {
  font-size: 8px;
  font-style: italic;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.circle {
  aspect-ratio: 1;
  border-radius: 50%;
}

/*Colors*/
.blue {
  background-color: var(--blue);
}
.yellow {
  background-color: var(--yellow);
}
.brown {
  background-color: var(--brown);
}
.light-brown {
  background-color: var(--light-brown);
}
.gray {
  background-color: var(--gray);
}

/*Components*/
